@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpAccessor



    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">TimeSheet App</span>
            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/lib/template/assets/img/profile.png" alt="" /></span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">

                <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                @if (User.IsInRole("Admin") || User.IsInRole("test"))
                {
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-controller="TimeSheets" asp-action="Index">Time Sheet</a></li>

                    @*<a class="nav-link text-dark" asp-controller="TimeSheets" asp-action="Index">Time Sheet</a>*@
                }
                @if (httpAccessor.HttpContext.Session.GetString("JWToken") != null && httpAccessor.HttpContext.Session.GetString("JWToken").ToString().Length > 0)
                {
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="Logout">Logout</a></li>
                }
                else
                {
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="Login">Login</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="Register">Register</a></li>
                }
                @*<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Awards</a></li>*@
            </ul>
        </div>
    </nav>

      
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
